// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #176126;
$color-white: #ffffff;
$color-text: #323232;
$color-gray: #8d8d8d;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark: #222228;
$bg-color-gray: #fafafa;

// Border
$color-border: #e2e2e2;

// Links
$color-link: $color-text;
$color-link-hover: #00452a;
