/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/

.c-social-nav {
  &__item {
    display: inline-block;
  }

  &__icon {
    margin-top: 4px;
    fill: $color-text;
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }
}
