---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
<!-- %Y %b.%-d, %a %I:%M%P -->
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>
          <div style="text-align: right;text-transform: uppercase;">{{ page.date | date: '%Y %b %-d' }}</div>
          <div style="text-align: right;" class="c-post-card__date">{{ page.date | date: '%a, %I:%M %P' }}</div>
           <!-- page.date | date: '%Y %b %-d, %a %I:%M%P' }} -->
        </time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}
          {{ content }}
        </div>

        <!-- <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div> -->

        <div class='c-tags'>
          {% if page.tags %}
            <div class='c-social-nav__icon' data-icon='ei-tag' data-size='s'></div>
            {% for tag in page.tags %}
              <span class="c-post-card__tag"><a href='{{ site.baseurl }}/tags/{{ tag }}'
                class="c-post-card__tag {% if tag == keytag %}highlighted{% endif %}">{{ tag }}</a></span>
            {% endfor %}
          {% endif %}
        </div>
      </article>
    </div>
  </div>
  <script src="https://utteranc.es/client.js" repo="handdrip/comments-lib" issue-term="pathname" theme="github-light" crossorigin="anonymous" async></script>
</div>

<style>
.utterances {
  max-width: unset;
}
</style>