---
layout: default
---

{% assign posts = site.posts | where_exp:"post", "post.tags contains page.tag"
%} {% capture keytag %}{{ page.tag }}{% endcapture %}
<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col">
      <h4 style="">
        <span class="tag">{{ page.tag }}</span>
        {{ posts.size }} results.
      </h4>
    </div>
  </div>

  <div class="o-grid">
    {% for post in posts %} {% include post-card.liquid keytag=keytag %} {%
    endfor %}
  </div>

  <div class="o-grid">
    {% include pagination.html %}
  </div>
</div>

<style scoped>
  .tag {
    color: #3273ff;
    padding-right: 8px;
    border-right: 2px solid #d1d1d1;
  }
</style>
