---
layout: default
---

{% assign posts = site.posts | where_exp:"post", "post.tags contains page.tag"
%} {% capture keytag %}{{ page.tag }}{% endcapture %}
<div class="o-wrapper">
  <div class="o-grid">
    <div class="o-grid__col">
      <h4 style="border-bottom: 1px solid #d3d3d3;">
        <span style="color:#3273ff;">{{ page.tag }}</span> - {{ posts.size }}
        results.
      </h4>
    </div>
  </div>

  <div class="o-grid">
    {% for post in posts %} {% include post-card.liquid keytag=keytag %} {%
    endfor %}
  </div>

  <div class="o-grid">
    {% include pagination.html %}
  </div>
</div>
